@media (min-width: 1921px) {
  .header {
    width: 100vw;
    height: 24vh;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 69px;
  }
}

@media (max-width: 375px) {
  .header {
    height: 70px;
  }
}

@media (min-width: 1921px) {
  .header-inner {
    width: 70vw;
    height: 24vh;
  }
}

@media (max-width: 1024px) {
  .header-inner {
    width: 90vw;
    height: 69px;
  }
}

@media (max-width: 375px) {
  .header-inner {
    width: 90vw;
    height: 70px;
  }
}

@media (min-width: 1921px) {
  .header-inner .header-logo {
    width: 19vw;
  }
}

@media (max-width: 1024px) {
  .header-inner .header-logo {
    width: 139px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-width: 375px) {
  .header-inner .header-logo {
    width: 120px;
  }
}

@media (min-width: 1921px) {
  .header-inner .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 auto;
    width: 24vw;
  }
}

@media (max-width: 1024px) {
  .header-inner .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 auto;
    width: 30vw;
  }
}

@media (max-width: 375px) {
  .header-inner .contact-wrapper {
    width: 46vw;
  }
}

@media (min-width: 1921px) {
  .header-inner .contact-wrapper .biz-hour {
    height: 6vh;
    line-height: 6vh;
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .header-inner .contact-wrapper .biz-hour {
    font-size: 6px;
  }
}

@media (max-width: 375px) {
  .header-inner .contact-wrapper .biz-hour {
    font-size: 12px;
    text-align: right;
  }
}

@media (min-width: 1921px) {
  .header-inner .contact-wrapper .tel {
    height: 6vh;
  }
}

@media (max-width: 1024px) {
  .header-inner .contact-wrapper .tel {
    margin-top: 4px;
  }
}

@media (max-width: 375px) {
  .header-inner .contact-wrapper .tel {
    margin: 0;
  }
}

@media (min-width: 1921px) {
  .header-inner .contact-wrapper .tel .phone {
    width: 36px;
  }
}

@media (max-width: 1024px) {
  .header-inner .contact-wrapper .tel .phone {
    width: 14px;
  }
}

@media (max-width: 375px) {
  .header-inner .contact-wrapper .tel .phone {
    width: 16px;
  }
}

@media (min-width: 1921px) {
  .header-inner .contact-wrapper .tel .number {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .header-inner .contact-wrapper .tel .number {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .header-inner .contact-wrapper .tel .number {
    font-size: 16px;
  }
}

@media (min-width: 1921px) {
  .mv {
    width: 100vw;
    height: 180vh;
  }
}

@media (max-width: 1024px) {
  .mv {
    width: 100vw;
    height: 502px;
  }
}

@media (max-width: 375px) {
  .mv {
    height: 440px;
  }
}

@media (min-width: 1921px) {
  .mv-inner .mv-ttl {
    width: 6vw;
    height: 96vh;
    font-size: 40px;
    padding-top: 7vh;
  }
}

@media (max-width: 1024px) {
  .mv-inner .mv-ttl {
    width: 54px;
    height: 299px;
    font-size: 15px;
    margin-right: 32px;
    padding-top: 16px;
  }
}

@media (max-width: 375px) {
  .mv-inner .mv-ttl {
    width: 42px;
    height: 250px;
    font-size: 14px;
    margin-right: 24px;
  }
}

@media (min-width: 1921px) {
  .mv-inner .mv-ttl-02 {
    width: 6vw;
    height: 96vh;
    font-size: 40px;
    padding-top: 7vh;
  }
}

@media (max-width: 1024px) {
  .mv-inner .mv-ttl-02 {
    width: 54px;
    height: 299px;
    font-size: 15px;
    margin-right: 32px;
    padding-top: 16px;
  }
}

@media (max-width: 375px) {
  .mv-inner .mv-ttl-02 {
    width: 42px;
    height: 270px;
    font-size: 14px;
    margin-right: 24px;
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .mv-inner .mv-ttl-02 .orange {
    margin: 8px 0;
  }
}

@media (max-width: 375px) {
  .mv-inner .mv-ttl-02 .orange {
    margin: 3px 0;
    font-size: 14px;
  }
}

@media (min-width: 1921px) {
  .introduction {
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 1921px) {
  .introduction-inner {
    width: 1400px;
    height: 100vh;
  }
}

@media (max-width: 1024px) {
  .introduction-inner {
    width: 80vw;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10% 0 0 0;
  }
}

@media (max-width: 375px) {
  .introduction-inner {
    width: 90vw;
  }
}

@media (min-width: 1921px) {
  .introduction-inner-left {
    width: 1000px;
  }
}

@media (max-width: 1024px) {
  .introduction-inner-left {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .introduction-inner-left {
    width: 80vw;
  }
}

@media (max-width: 375px) {
  .introduction-inner-left {
    width: 100%;
  }
}

@media (min-width: 1921px) {
  .introduction-inner-left .section-ttl, .introduction-inner-left .section-ttl-02 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .introduction-inner-left .section-ttl, .introduction-inner-left .section-ttl-02 {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .introduction-inner-left .section-ttl, .introduction-inner-left .section-ttl-02 {
    font-size: 18px;
  }
}

@media (min-width: 1921px) {
  .introduction-inner-left .section-ttl-02 {
    margin-top: 7vh;
  }
}

@media (max-width: 375px) {
  .introduction-inner-left .section-ttl-02 {
    margin-top: 20px;
  }
}

@media (min-width: 1921px) {
  .introduction-inner-left .section-txt {
    margin-top: 7vh;
    font-size: 20px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .introduction-inner-left .section-txt {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .introduction-inner-left .section-txt {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .introduction-inner-left .section-txt {
    font-size: 12px;
    margin-top: 32px;
  }
}

@media (max-width: 1024px) {
  .introduction-inner-right {
    margin: 86px 0 43px 0;
  }
}

@media (max-width: 768px) {
  .introduction-inner-right {
    margin: 0;
    padding: 10%;
  }
}

@media (max-width: 375px) {
  .introduction-inner-right {
    padding: 6%;
  }
}

@media (min-width: 1921px) {
  .contents {
    width: 100vw;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .contents {
    width: 100vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  .contents {
    margin: 0 auto;
  }
}

@media (min-width: 1921px) {
  .contents-inner {
    width: 70vw;
    padding-bottom: 16vh;
  }
}

@media (max-width: 1024px) {
  .contents-inner {
    width: 80vw;
    padding-bottom: 10%;
  }
}

@media (max-width: 768px) {
  .contents-inner {
    width: 90vw;
  }
}

@media (max-width: 375px) {
  .contents-inner {
    width: 90vw;
  }
}

@media (min-width: 1921px) {
  .contents-inner .section-ttl {
    font-size: 36px;
    margin-top: 100px;
  }
}

@media (max-width: 1024px) {
  .contents-inner .section-ttl {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .contents-inner .section-ttl {
    margin-top: 54px;
  }
}

@media (max-width: 375px) {
  .contents-inner .section-ttl {
    margin-top: 40px;
  }
}

@media (min-width: 1921px) {
  .contents-inner .contents-txt {
    margin-top: 100px;
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .contents-inner .contents-txt {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .contents-inner .contents-txt {
    margin-top: 54px;
  }
}

@media (max-width: 375px) {
  .contents-inner .contents-txt {
    width: 56vw;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 40px;
  }
}

@media (min-width: 1921px) {
  .contents-inner .contents-wrap {
    margin-top: 6vh;
  }
}

@media (max-width: 1024px) {
  .contents-inner .contents-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .contents-inner .contents-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1921px) {
  .contents-inner .contents-wrap .medical-contents, .contents-inner .contents-wrap .medical-contents-02, .contents-inner .contents-wrap .medical-contents-03 {
    width: 20vw;
    height: auto;
  }
  .contents-inner .contents-wrap .medical-contents .symptoms, .contents-inner .contents-wrap .medical-contents-02 .symptoms, .contents-inner .contents-wrap .medical-contents-03 .symptoms {
    font-size: 0.8vw;
  }
  .contents-inner .contents-wrap .medical-contents-img, .contents-inner .contents-wrap .medical-contents-02-img, .contents-inner .contents-wrap .medical-contents-03-img {
    width: 10vw;
  }
}

@media (max-width: 1024px) {
  .contents-inner .contents-wrap .medical-contents, .contents-inner .contents-wrap .medical-contents-02, .contents-inner .contents-wrap .medical-contents-03 {
    width: 100%;
    height: auto;
  }
  .contents-inner .contents-wrap .medical-contents .symptoms, .contents-inner .contents-wrap .medical-contents-02 .symptoms, .contents-inner .contents-wrap .medical-contents-03 .symptoms {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contents-inner .contents-wrap .medical-contents, .contents-inner .contents-wrap .medical-contents-02, .contents-inner .contents-wrap .medical-contents-03 {
    width: 80%;
  }
  .contents-inner .contents-wrap .medical-contents .medical-contents-ttl, .contents-inner .contents-wrap .medical-contents-02 .medical-contents-ttl, .contents-inner .contents-wrap .medical-contents-03 .medical-contents-ttl {
    font-size: 20px;
    margin-top: 30px;
  }
  .contents-inner .contents-wrap .medical-contents .symptoms, .contents-inner .contents-wrap .medical-contents-02 .symptoms, .contents-inner .contents-wrap .medical-contents-03 .symptoms {
    font-size: 14px;
    margin-top: 35px;
  }
}

@media (max-width: 375px) {
  .contents-inner .contents-wrap .medical-contents .medical-contents-ttl, .contents-inner .contents-wrap .medical-contents-02 .medical-contents-ttl, .contents-inner .contents-wrap .medical-contents-03 .medical-contents-ttl {
    font-size: 18px;
  }
  .contents-inner .contents-wrap .medical-contents .symptoms, .contents-inner .contents-wrap .medical-contents-02 .symptoms, .contents-inner .contents-wrap .medical-contents-03 .symptoms {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .contents-inner .contents-wrap .medical-contents-02 {
    margin: 20px 0;
  }
}

@media (min-width: 1921px) {
  .contents-inner .notice {
    font-size: 32px;
    margin-top: 13vh;
  }
}

@media (max-width: 1024px) {
  .contents-inner .notice {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .contents-inner .notice {
    margin-top: 70px;
  }
}

@media (max-width: 375px) {
  .contents-inner .notice {
    margin-top: 50px;
  }
}

@media (min-width: 1921px) {
  .contents-inner .notice-wrap {
    margin-top: 13vh;
    width: 70vw;
    height: 54vh;
  }
}

@media (max-width: 1024px) {
  .contents-inner .notice-wrap {
    width: 90vw;
    height: 600px;
    padding: 4% 5% 15% 5%;
  }
}

@media (max-width: 768px) {
  .contents-inner .notice-wrap {
    margin: 50px auto 0 auto;
  }
}

@media (max-width: 375px) {
  .contents-inner .notice-wrap {
    height: 540px;
  }
}

@media (min-width: 1921px) {
  .contents-inner .notice-wrap-item, .contents-inner .notice-wrap-item-02, .contents-inner .notice-wrap-item-03, .contents-inner .notice-wrap-item-04 {
    height: 6vh;
  }
  .contents-inner .notice-wrap-item-date, .contents-inner .notice-wrap-item-02-date, .contents-inner .notice-wrap-item-03-date, .contents-inner .notice-wrap-item-04-date {
    font-size: 0.9vw;
  }
  .contents-inner .notice-wrap-item-type, .contents-inner .notice-wrap-item-02-type, .contents-inner .notice-wrap-item-03-type, .contents-inner .notice-wrap-item-04-type {
    width: 4vw;
    height: 4vh;
    line-height: 4vh;
    font-size: 0.7vw;
  }
  .contents-inner .notice-wrap-item-contents, .contents-inner .notice-wrap-item-02-contents, .contents-inner .notice-wrap-item-03-contents, .contents-inner .notice-wrap-item-04-contents {
    font-size: 0.9vw;
  }
}

@media (max-width: 1024px) {
  .contents-inner .notice-wrap-item, .contents-inner .notice-wrap-item-02, .contents-inner .notice-wrap-item-03, .contents-inner .notice-wrap-item-04 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 120px;
    margin: 0;
  }
  .contents-inner .notice-wrap-item-date, .contents-inner .notice-wrap-item-type, .contents-inner .notice-wrap-item-02-date, .contents-inner .notice-wrap-item-02-type, .contents-inner .notice-wrap-item-03-date, .contents-inner .notice-wrap-item-03-type, .contents-inner .notice-wrap-item-04-date, .contents-inner .notice-wrap-item-04-type {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .contents-inner .notice-wrap-item, .contents-inner .notice-wrap-item-02, .contents-inner .notice-wrap-item-03, .contents-inner .notice-wrap-item-04 {
    height: auto;
    padding-bottom: 5px;
  }
  .contents-inner .notice-wrap-item-date, .contents-inner .notice-wrap-item-02-date, .contents-inner .notice-wrap-item-03-date, .contents-inner .notice-wrap-item-04-date {
    margin-top: 10px;
  }
  .contents-inner .notice-wrap-item-type, .contents-inner .notice-wrap-item-02-type, .contents-inner .notice-wrap-item-03-type, .contents-inner .notice-wrap-item-04-type {
    margin-top: 10px;
  }
  .contents-inner .notice-wrap-item-contents, .contents-inner .notice-wrap-item-02-contents, .contents-inner .notice-wrap-item-03-contents, .contents-inner .notice-wrap-item-04-contents {
    margin-top: 10px;
    line-height: 1.4;
    font-size: 14px;
  }
}

@media (min-width: 1921px) {
  .contents-inner .notice-wrap .all-look-box {
    font-size: 0.9vw;
    bottom: 10vh;
    right: 4vw;
  }
}

@media (max-width: 1024px) {
  .contents-inner .notice-wrap .all-look-box {
    bottom: 12%;
    right: 8%;
  }
}

@media (max-width: 768px) {
  .contents-inner .notice-wrap .all-look-box {
    bottom: 10%;
  }
}

@media (max-width: 375px) {
  .contents-inner .notice-wrap .all-look-box {
    font-size: 14px;
    bottom: 7%;
  }
}

@media (min-width: 1921px) {
  .footer {
    width: 100vw;
  }
}

@media (max-width: 1024px) {
  .footer {
    width: 1024px;
    height: 960px;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 768px;
    height: 910px;
  }
}

@media (max-width: 375px) {
  .footer {
    width: 375px;
    height: 678px;
  }
}

@media (max-width: 1024px) {
  .footer-inner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .footer-inner {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .footer-inner {
    width: 90vw;
  }
}

@media (max-width: 1024px) {
  .footer-inner .footer-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 60px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer-inner .footer-left {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .footer-inner .footer-right {
    text-align: center;
    margin: 0;
    width: 90%;
  }
}

@media (max-width: 375px) {
  .footer-inner .footer-right {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .footer-inner .footer-right .footer-logo {
    margin: 0 auto;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .footer-inner .footer-right .footer-logo {
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  .footer-inner .footer-right .footer-logo {
    width: 180px;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .footer-inner .footer-right .postal-code {
    margin-top: 18px;
  }
}

@media (max-width: 375px) {
  .footer-inner .footer-right .postal-code {
    margin-top: 14px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .footer-inner .footer-right .address {
    margin-top: 18px;
  }
}

@media (max-width: 375px) {
  .footer-inner .footer-right .address {
    margin-top: 14px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .footer-inner .footer-right .tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer-inner .footer-right .tel {
    margin-top: 18px;
  }
}

@media (max-width: 375px) {
  .footer-inner .footer-right .tel .phone {
    width: 20px;
  }
  .footer-inner .footer-right .tel .number {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .footer-inner .footer-right .open-wrap {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer-inner .footer-right .open-wrap {
    margin-top: 22px;
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .footer-inner .footer-right .open-wrap {
    width: 100%;
    font-size: 13px;
  }
  .footer-inner .footer-right .open-wrap-time {
    width: 60px;
    padding-right: 6px;
  }
  .footer-inner .footer-right .open-wrap .open-day-list, .footer-inner .footer-right .open-wrap .open-day-am, .footer-inner .footer-right .open-wrap .open-day-pm {
    margin-left: 8px;
  }
}

@media (max-width: 1024px) {
  .footer-inner .footer-right .close-wrap {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 224px;
  }
}

@media (max-width: 768px) {
  .footer-inner .footer-right .close-wrap {
    font-size: 12px;
    padding-right: 196px;
  }
}

@media (max-width: 375px) {
  .footer-inner .footer-right .close-wrap {
    width: 100%;
    font-size: 13px;
    margin-top: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 0 19px 7px;
  }
}

@media (max-width: 1024px) {
  .footer-inner .footer-right .close-wrap-time {
    width: 80px;
    padding-right: 0;
  }
}

@media (max-width: 375px) {
  .footer-inner .footer-right .close-wrap-time {
    padding-right: 7px;
  }
}

@media (max-width: 375px) {
  .footer-inner .footer-right .close-wrap-day {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .footer-inner .footer-right .all-right {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .footer-inner .footer-right .all-right {
    font-size: 12px;
  }
}
/*# sourceMappingURL=responsive.css.map */
